lennyblk.dev {
    reverse_proxy portfolio-app:4173
}

cinenode.lennyblk.dev {
    reverse_proxy cinenode-app:3636
}

suwayomi.lennyblk.dev {
    reverse_proxy suwayomi:4567
}

seanime.lennyblk.dev {
    reverse_proxy seanime:43211
}

docmost.lennyblk.dev {
    reverse_proxy docmost:3000
}

portainer.lennyblk.dev {
    reverse_proxy portainer:9000
}

n8n.lennyblk.dev {
    reverse_proxy n8n:5678
}
