lennyblk.dev {
    reverse_proxy portfolio-app:4173
}

suwayomi.lennyblk.dev {
    reverse_proxy suwayomi:4567
}

seanime.lennyblk.dev {
    reverse_proxy seanime:43211
}

docmost.lennyblk.dev {
    reverse_proxy docmost:3000
}

portainer.lennyblk.dev {
    reverse_proxy portainer:9000
}

n8n.lennyblk.dev {
    reverse_proxy n8n:5678
}

sonarr.lennyblk.dev {
    reverse_proxy sonarr:8989
}

prowlarr.lennyblk.dev {
    reverse_proxy prowlarr:9696
}

qbittorrent.lennyblk.dev {
    reverse_proxy qbittorrent:8080
}

dashdot.lennyblk.dev {
    reverse_proxy dashdot:3001
}

radarr.lennyblk.dev {
    reverse_proxy radarr:7878
}

jellyfin.lennyblk.dev {
    reverse_proxy jellyfin:8096
}

bazarr.lennyblk.dev {
    reverse_proxy bazarr:6767
}

uptime-kuma.lennyblk.dev {
    reverse_proxy uptime-kuma:3001
}
